
.Header {
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #0D1117;
    height: 10vw;
}

.title{
    font-size: 3vw;
    background-color: #0D1117;
}