
.btn {
    width: 12vw;
    height: 4vw;
    stroke-width: 0.25vw;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: #0D1117;
    border: black;
    border-radius: 1.5vw;
    box-shadow: 0 0.8vw 1.6vw 0 rgba(0,0,0,0.2), 0 0.6vw 2vw 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    background-color: #325B8B;
}

.btn:hover {
    background-color: #1E81F3;
    box-shadow: 0 1.2vw 1.6vw 0 rgba(0,0,0,0.24), 0 1.7vw 5vw 0 rgba(0,0,0,0.19);
}